/* Inserta tu código aqui */
header{
	background-color: #3B3939;
}
body{
	font-family: Arial;
}
.logo{
	margin-left: 20px;
}
.mio{
	color:white;
	text-decoration: none;
	font-size: 15px;
	float: left;
	margin: 65px 6px;
	font-family: Arial;
}
.hola{
	font-size: 30px;
	color:#363131;
	font-family: Arial;
	margin: 30px 0 0 20px;
	display: inline-block;
}
.yo{
	color:#5262B3;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
}
.letras{
	color:#5262B3;
	font-size: 20px;
	float: left;
	margin: 5px 50px 20px 40px;
	font-family: Arial;
	text-decoration: none;
}
.gato{
	width: 85%;
	margin: 20px 0px 0 20px;
	border: 3px solid white;

}
section{
	background-color: #E8E7E7;
}

.pelis{
	width: 70%;
	margin-left: 20px;
	margin-top: 20px;
}
.col-2{
	width: 14%;
}
.dlc{
	margin-left: 50px;
}
.nombrefoto{
	color:#5262B3;
	margin-left: 10px;
	text-align: center;
	height: 30px;
}
.ladolado{
	width: 30%;
	padding-left: 80px;
}
.lado{
	display: block;
	text-align: left;
	font-size: 20px;
	font-family: Arial;
	color: #464242;
}
.lado2{
	text-decoration: none;
	margin: 0 0 0 10px;
	font-family: Arial;
	color: #5262B3;
}
.grande{
	width: 7%;
}
.azul{
	color:#5262B3;
}
.lineagris{
	border: 1px solid gray;
}
.ultimo{
	text-align: left;
	margin: 40px 20px;
	color:white;
	font-size: 15px;
	background-color: #565658;
	padding: 20px 10px 20px 10px;
}
span{
	color:#B9B8BA;
}
.linkfinal{
	text-decoration: none;
	color:#B9B8BA;
	margin-left: 10px;
}
.pris{
	margin-left: 135px;
}
.pie{
	text-align: center;
	color:#B9B8BA;
}
li{
	list-style: none;
}
